@import '../../assets/styles/common-variables.scss';

.whatsapp-contact-element-img-class {
    width: $language_img_size;
    height: $language_img_size;
    cursor: pointer;
    vertical-align: middle;
}