.my-accordeon-wrapper {
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.my-accordeon-item-question-wrapper {
    display: flex;
    flex-direction: column;
}
.my-accordeon-item-question-wrapper-top {
    margin: 10px 0;
}

.my-accordeon-item-question-question {
    display: grid;
    grid-template-columns: 20px 1fr 35px;
    // align-content: center;

    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;

    img {
        align-self: center;
        width: 30px;
        height: 30px;
    }
}
.my-accordeon-item-question-question:hover {
    background-color: rgb(194, 192, 192);
    color: white;
}

.my-accordeon-item-question-question-circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
}
.my-accordeon-item-question-question-circle-green {
    background-color: green;
}
