@import '../../assets/styles/common-variables.scss';

.why-u-need-a-tour-wrapper {
    width: calc(100% - 2 * $widget-padding-side);
    // min-height: 100svh;
    // padding: $widget-padding-top $widget-padding-side;
    // padding: $widget-padding-top 0;
    margin: 0 $widget-padding-side;
    h2 {
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-u-need-a-tour-list {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 30px;
}