.not-found-page-wrapper {
    text-align: center;
    margin: 100px;
}
.not-found-page-text-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.not-found-page-link-class {
    a {
        // font-size: 20px;
        font-weight: 700;
        color: blue;
    }
}

