.todo-action-1-wrapper {
    background-image: url('./../../assets/images/evening.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 40px;
    // justify-content: center;
    align-items: center;

    width: calc(100% - 100px);
    min-height: 100svh;
    padding: 50px;

    text-align: center;
}