.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    img {
        width: 35px;
        height: 35px;
    }

    h2 {
        display: block;
        font-size: 1.4em;
        line-height: normal;
        // margin-block-start: 0.83em;
        // margin-block-end: 0.83em;
        // margin-inline-start: 0px;
        // margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        margin: 0 30px;
    }


}