// @import './desctop-nav-classes.scss';
@import '../../../assets/styles/common-variables.scss';

.desctop-nav-sublink-elem-wrapper-class {
    background-color: $nav-menu-element-bg-color;

    padding: 10px;
    width: calc(100% - 20px);

    cursor: pointer;

    border-radius: 10px;
}
.desctop-nav-sublink-elem-wrapper-class:hover { scale: 1.03; }

.desctop-nav-sublink-elem-title-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;

    img {
        width: 30px;
        height: 30px;
    }
}

.desctop-nav-sublink-elem-description-class {
    font-size: 12px;
    line-height: normal;
}

.desctop-nav-sublink-elem-sub-title-days {
    width: 75px;
}