.butterfly-animation-wrapper {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100%;

    // background-color: rgba(0,0,0, .6);


    img {
        position: absolute;
        width: 40px;
        height: 40px;
        // animation: butterfly 5s linear infinite;
        // animation-duration: calc(10s / var(--i));
    }
}

@keyframes butterfly {
    0% {
        top: 100svh;
        // left: 0;
        // transform: translateY(100px);
        transform: translateX(0);
    }
    100% {
        top: 0;
        // left: 100svw;
        // transform: translateY(100px);
        transform: translateX(100svw);
    }
}