@import '../../assets/styles/common-variables.scss';

.header-bg-wrapper {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;

    background-color: $header-bg-color;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    padding: 0 20px;
    width: calc(100% - 40px);
    height: $header-height;
    
    display: grid;
    grid-template-columns: $logo-width 1fr $language_img_size;
    column-gap: 10px;
    align-content: center;

}