@import '../../../assets/styles/common-variables.scss';

.mobile-nav-menu-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.mobile-nav-menu-outlet-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;
    width: calc(100% - 40px);
    height: 100%;
    min-height: 100svh;

    background-color: white;
    // background-image: linear-gradient(to bottom right, white, rgb(237, 236, 225));
    // background-image: linear-gradient(to bottom right, red, yellow);
}

.mobile-nav-menu-logo-close-div {
    display: grid;
    grid-template-columns: 1fr $language_img_size;
    column-gap: 20px;
    height: $header-height;

}

.mobile-nav-menu-elements-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav-menu-element {
    padding: 5px 10px;
    border: 1px solid $elem_border_color;
    border-radius: 10px;
    // background-color: $nav-menu-element-bg-color;
    background-color: white;

    width: 250px;
    height: 40px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    img {
        height: 25px;
        width: 25px;
    }
}
.mobile-nav-menu-element:hover {
    background-color: $nav-menu-element-bg-color-focused;
    font-weight: 700;
}
.mobile-nav-menu-element:focus {
    background-color: $nav-menu-element-bg-color-focused;
    font-weight: 700;
}

.mobile-nav-menu-img {
    width: $language_img_size;
    height: $language_img_size;
    cursor: pointer;
}
.mobile-nav-menu-img-div-class {
    position: relative;
    width: 35px;
    height: 35px;
    left: calc(50% - $language_img_size/2);
    align-self: center;
    cursor: pointer;
}

.mobile-nav-menu-subelem-child-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.mobile-nav-menu-subelem-child-class {
    width: calc(100% - 40px);
    // background-color: $nav-menu-element-bg-color;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid $elem_border_color;

    cursor: pointer;
    line-height: normal;

    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
        width: 25px;
        height: 25px;
        align-self: center;
        vertical-align: middle;
    }
}
.mobile-nav-menu-subelem-child-class:hover {
    background-color: $nav-menu-element-bg-color-focused;
}
.mobile-nav-menu-subelem-child-class:focus {
    background-color: $nav-menu-element-bg-color-focused;
}
.mobile-nav-menu-subelem-child-class:active {
    background-color: $nav-menu-element-bg-color-focused;
}