@import '../../assets/styles/common-variables.scss';

.contacts-page-wrapper {
    // background-color: rgb(40, 37, 37);
    // color: wheat;
    a {
        // color: wheat;
        color: black;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    text-align: center;
    padding: $widget-padding-top $widget-padding-side;

    min-height: 100svh;
}
.contacts-author-photo-class {
    border-radius: 20px;
    width: 192px;
    height: 256px;
}
.constact-social-networks-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
}


.contacts-page-wrapper-2 {
    // a {
    //     color: black;
    // }
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $paragraph_gap;
    // padding: $widget-padding-top $widget-padding-side;
}
.contacts-page-wrapper-2-paragraph {
    text-align: center;
    word-wrap: break-word;
    // display: inline-block;
    a {
        margin: 0 6px;
        font-weight: bold;
        // color: green;
    }
}
.contacts-page-wrapper-2-whatsapp { 
    // color: green; 
    animation-name: wa_keyframes;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.contacts-page-wrapper-2-telegram { 
    // color: blue; 
    animation-name: tg_keyframes;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.contacts-page-wrapper-2-phone { color: black; }

@keyframes wa_keyframes {
    0% {
        color: green;
        font-weight: normal;
    }
    50% {
        color: rgb(69, 97, 26);
        font-weight: bold;
    }
    100% {
        color: green;
        font-weight: normal;

    }
}
@keyframes tg_keyframes {
    0% {
        color: blue;
        font-weight: normal;
    }
    50% {
        color: rgb(6, 6, 181);
        font-weight: bold;
    }
    100% {
        color: blue;
        font-weight: normal;

    }
}