.price-calculation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px;
}

.price-calculation-form {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;
    width: 300px;
    margin: 0 30px;
}

.r1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
}
.price-calculation-select-list {
    width: 60px;
    height: 25px;
    background-color: greenyellow;
    color: purple;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}