@import '../../assets/styles/common-variables.scss';

$cross-icon-size: 35px;

.contact-form-outlet {
    z-index: 1100;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100svh;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
}
.contact-form-wrapper-component {
    position: fixed;
    // left: calc(50% - 160px);
    left: 10%;
    top: 100px;

    width: calc(80% - 40px);
    padding: 30px 20px;

    min-height: 50px;
    background-color: $site-bg-color;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px grey;

    display: flex;
    flex-direction: column;
    gap: $paragraph_gap;
    align-items: center;
}
.contact-form-cross-img {
        width: $cross-icon-size;
        height: $cross-icon-size;
        cursor: pointer;

        position: absolute;
        top: 10px;
        right: 10px;
}
.contact-form-tour-title {
    font-size: 20px;
    // color: blueviolet;
}

.contact-form-wa-class {
    color: green;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: $cross-icon-size;
        height: $cross-icon-size;
    }
}

.contact-form-network-error-text {
    font-size: 18px;
    color: red;
}
.contact-form-network-delivered-text-class {
    font-size: 18;
    color: green;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contact-form-phone-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-form-phone-input {
    background-color: wheat;
    color: blue;
    text-align: start;
    // height: 70px;
}
.contact-form-phone-container {
    background-color: red;
}