@import '../../assets/styles/common-variables.scss';

// $lower_div_text_color: rgb(7, 96, 7);
$lower_div_text_color: white;


.wellcome-wrapper {
    position: relative;
    z-index: 1000;
    // background-image: url('../../assets//images/main_photo_1.jpeg');
    // background-image: url('../../assets/images/main_photo_2.jpeg');
    // background-image: url('../../assets/images/main_photo_3.jpg');
    // background-image: url('../../assets/images/main_photo_4_tucan.jpg');
    // background-image: url('../../assets/images/main_photo_5.jpg');
    // background-image: url('../../assets/images/main_photo_6.jpg');
    // background-image: url('../../assets/images/main_photo_7.jpg');
    background-image: url('../../assets/images/main_photo_8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    background-position-x: center;
    background-position-y: center;
    
    // background-attachment: fixed;

    background-origin: border-box;

    // @media screen and (min-width: 1500px) {
    //     background-position: center;
    // }
    // @media screen and (max-width: 1499px) {
    //     background-position: bottom;
    // }

    // background-position-y: -10px;
    // background-position: bottom -250px left 0;
    // @media screen and (min-width: 1500px) {
    //     background-position: bottom -150px left 0;
    //     // background-position: bottom;

    // }
    // @media screen and (max-width: 1499px) {
    //     background-position: bottom;
        
    // }
    
    padding: 20px;
    width: calc(100% - 40px);
    // height: calc(100svh - $header-height - $widget-devider-height);
    height: calc(100svh - 40px);


    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    align-items: center;
    gap: 20px;

    h2 {
        color: black;
    }
}
// .wellcome-wrapper:before {
// 	content: '';
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background-color:rgba(0, 0, 0, .3);
// }

.wellcome-info-div {
    flex: 1;
    // z-index: 500;
    // width: calc(80% - 40px);
    // padding: 20px;
    // border-radius: 30px;
    // box-shadow: 10px 10px 10px rgba(black, .6);
}
.wellcome-info-div-text { 
    z-index: 501; 
    color: white; 
    text-align: center;
    h3 { font-weight: 900; }
}
.wellcome-info-div-text:hover {
    color: #B7EAE0;
}

.wellcome-page-sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.wellcome-page-lower-div {
    width: 100%;
    color: $lower_div_text_color;

    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    @media screen and (min-width: 827px) {
        h4 { font-size: 22px; }
    }
    @media screen and (max-width: 826px) {
        h4 { font-size: 18px; }
    }
    
}
.wellcome-page-lower-div-first {
    flex: 1;
    z-index: 502;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // h4 {color: red}
    cursor: pointer;
}
.wellcome-page-lower-div-second {
    z-index: 502;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    gap: 10px;

    h4 { color: $lower_div_text_color; }
    h4:hover { color: greenyellow; }

    img {
        width: $language_img_size;
        height: $language_img_size;
        cursor: pointer;
        vertical-align: middle;
    }
}

.wellcome-page-lower-div-bg-color {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;


    // background-color: yellow;
    // background: linear-gradient(0deg, rgba(143,143,152,1) 49%, rgba(143,143,152,0) 100%);
    // background: linear-gradient(0deg, rgba(143,143,152,0) 0%, rgba(143,143,152,1) 35%, rgba(143,143,152,1) 65%, rgba(143,143,152,0) 100%);
    // background: linear-gradient(0deg, rgba(143,143,152,1) 70%, rgba(143,143,152,0) 100%);
    
    // background-color: rgba(0,0,0, .3);

    @media screen and (min-width: 690px) {
        height: 70px;
    }
    @media screen and (max-width: 689px) {
        height: 100px;
    }
}
