@import '../../assets/styles/common-variables.scss';

.wellcome-wrapper {
    background-image: url('../../assets//images/main_photo_1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 20px;
    width: calc(100% - 40px);
    // height: calc(100svh - $header-height - $widget-devider-height);
    height: 300px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    h2 {
        color: black;
    }
}

.wellcome-info-div {
    z-index: 500;
    background-color: rgba(34, 101, 34, 0.3);
    width: calc(80% - 40px);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(black, .6);
}
.wellcome-info-div-text { 
    z-index: 501; 
    color: blue; 
    text-align: center;
    h3 { font-weight: 900; }
}

.wellcome-page-sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.wellcome-page-lower-div-position {
    position: absolute;
    bottom: 0;
}