@import '../../assets/styles/common-variables.scss';

.wellcome-wrapper {
    background-image: url('../../assets//images/main_photo_1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    // @media screen and (min-width: 1500px) {
    //     background-position: center;
    // }
    // @media screen and (max-width: 1499px) {
    //     background-position: bottom;
    // }

    background-position: bottom;

    
    padding: 20px;
    width: calc(100% - 40px);
    // height: calc(100svh - $header-height - $widget-devider-height);
    height: 300px;

    // position: relative;
    position: relative;

    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    align-items: center;
    gap: 20px;

    h2 {
        color: black;
    }
}
.wellcome-wrapper:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .3);
}

.wellcome-info-div {
    flex: 1;
    // z-index: 500;
    // width: calc(80% - 40px);
    // padding: 20px;
    // border-radius: 30px;
    // box-shadow: 10px 10px 10px rgba(black, .6);
}
.wellcome-info-div-text { 
    z-index: 501; 
    color: white; 
    text-align: center;
    h3 { font-weight: 900; }
}
.wellcome-info-div-text:hover {
    color: #B7EAE0;
}

.wellcome-page-sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.wellcome-page-lower-div {
    // position: absolute;
    // bottom: -20px;
    // left: 0;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: row;
}
.wellcome-page-lower-div-first {
    z-index: 502;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.wellcome-page-lower-div-second {
    // width: 100%;
    z-index: 502;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    img {
        width: $language_img_size;
        height: $language_img_size;
        cursor: pointer;
    }
}
