.tour-page-wrapper {
    background-color: darksalmon;
    
}
.tour-page-description {
    text-align: center;
}
.tour-page-plan2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tour-page-plan2-one-day-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.tour-page-plan2-day-desription-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.tour-page-plan2-day-number-div {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgb(99, 98, 98);
    background-color: rgb(212, 210, 210);
    width: 120px;
    margin-bottom: 15px;
    text-align: center;
}

.tour-page-plan2-image-pre-gallery {
    align-content: center;
    text-align: center;
}
.tour-page-plan2-image-gallery {
    padding: 0;
    min-height: 100px;

    display: inline-block;
    flex-direction: row;
    gap: 10px;

    vertical-align: middle;
    
    img {
        width: 150px;
        height: 150px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

        vertical-align: middle;
    }
}

.tour-page-plan2-big-gallery-outlet-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;

    background-color: rgba(0,0,0, 0.2);

    img {
        width: 50%;
        border-radius: 25px;
    }
}

.big-photo-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    width: 100%;

    img {
        max-height: 90svh;
        max-width: 100%;
        border-radius: 30px;
    }
}