$div-side-margin: 30px;
$space-between: 20px;
$card-width: 400px;
$four-cols-screen-width: 1000px;
$two-cols-screen-width: 500px;

.our-tours-2-wrapper {
    width: 100%;

    @media screen and (min-width: $four-cols-screen-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: $space-between;
        row-gap: $space-between;
    }

    @media screen and (min-width: $two-cols-screen-width) and (max-width: $four-cols-screen-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $space-between;
        row-gap: $space-between;
    }

    @media screen and (max-width: $two-cols-screen-width) {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $space-between;
    }
}

.our-tours-2-card {
    width: calc(100% - 10px);
    padding: 5px;
    min-height: 200px;

    overflow: hidden;
    // box-shadow: 5px 5px 10px grey;
    background-color: rgb(212, 208, 208);
    position: relative;
    border-radius: 10px;

    border: 1px solid grey;

    cursor: pointer;

    img {
        position: relative;
        top: 5px;
        left: 5px;

        width: calc(100% - 10px);
        height: 350px;

        z-index: 100;
        border-radius: 10px;
    }
}
.our-tours-2-card:hover {scale: 1.025; }

.our-tours-2-card-covered-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.our-tours-2-card-min-price {
    z-index: 102;

    position: absolute;
    top: 25px;
    left: 25px;

    padding: 10px;
    border-radius: 10px;

    font-size: 16px;
    line-height: normal;
    text-align: center;

    // background-color: lightgrey;
    background-color: #E6E6E6;

    // box-shadow: 10px 10px 10px grey;

    label {
        font-size: 11px;
    }
}

.our-tours-2-card-day-blur-info {
    z-index: 102;

    position: absolute;
    top: 300px;
    right: 25px;

    color: white;

    // min-width: 50px;
    // min-height: 40px;

    padding: 10px;
    border-radius: 10px;

    // font-size: 16px;
    line-height: normal;
    text-align: center;

    background-color: rgba(#E6E6E6, 0.25);
    backdrop-filter: blur(5px);

    label {
        font-size: 11px;
    }
}

.our-tours-2-card-title {
    position: relative;
    margin: 5px 5px;
    padding: 5px 5px;
    // background-color: #FBE2D0;
    background-color: #FDD3D6;
    border-radius: 10px;

    text-align: center;
}

.our-tours-2-card-description {
    position: relative;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 10px;

    text-align: justify;
    line-height: normal;
}