@import '../../assets/styles/common-variables.scss';

$div-side-margin: 30px;
$space-between: 20px;
$card-width: 400px;
$four-cols-screen-width: 1000px;
$two-cols-screen-width: 500px;

.our-tours-2-wrapper {
    width: 100%;

    @media screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    @media screen and (max-width: 799px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}

.our-tours-2-card {
    width: calc(100% - 20px);
    padding: 10px;
    min-height: 400px;

    overflow: hidden;
    background-color: white;
    position: relative;
    border-radius: 10px;

    border: 1px solid $elem_border_color;

    display: flex;
    flex-direction: column;
    gap: 20px;

    cursor: pointer;

    img {
        position: relative;
        top: 5px;
        left: 5px;

        width: calc(100% - 10px);
        height: 350px;

        z-index: 100;
        border-radius: 10px;
    }
}
.our-tours-2-card:hover {scale: 1.025; }

.our-tours-2-card-covered-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.our-tours-2-card-min-price {
    z-index: 102;

    position: absolute;
    top: 25px;
    left: 25px;

    padding: 10px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;

    font-size: 16px;
    line-height: normal;
    text-align: center;

    background-color: white;

    label {
        font-size: 11px;
    }
}

.our-tours-2-card-day-blur-info {
    z-index: 102;

    position: absolute;
    top: 300px;
    right: 25px;

    color: white;
    border: 1px solid #E6E6E6;

    padding: 10px;
    border-radius: 10px;

    line-height: normal;
    text-align: center;

    background-color: rgba(#E6E6E6, 0.25);
    backdrop-filter: blur(5px);

    label {
        font-size: 11px;
    }
}

.our-tours-2-card-title {
    position: relative;
    margin: 0 5px;
    padding: 0 5px;
    background-color: $secondary_design_color;
    border-radius: 10px;

    text-align: center;
    min-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

.our-tours-2-card-description {
    position: relative;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;

    text-align: justify;
    line-height: normal;
}