// $site-bg-color: rgb(192, 183, 183);
$site-bg-color: rgb(255, 255, 255);
$site-text-color: black;

$logo-color: rgb(16, 69, 16);
$logo-border-color: rgb(16, 69, 16);
$logo-width: 160px;

$language_img_size: 40px;

$widget-devider-height: 50px;

$header-height: 60px;
$header-bg-color: grey;
$header-text-color: black;

$widget-padding-top: 50px;
$widget-padding-side: 40px;

$paragraph_gap: 20px;
// $nav-menu-elem-width: 150px;
// $nav-menu-elem-height: 30px;

$nav-menu-element-bg-color: lightgrey;
$nav-menu-element-bg-color-focused: rgb(186, 183, 183);
